---
apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: tryton-netpol
  namespace: sbos-erp
spec:
  podSelector:
    matchLabels:
      app: tryton
  policyTypes:
    - Ingress
  ingress:
    - from:
        - namespaceSelector:
            matchLabels:
              sbos-role: internal

      ports:
        - protocol: TCP
          port: 8000
