---
apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: bcompass-svc-netpol
  namespace: sbos-ai
spec:
  podSelector:
    matchLabels:
      app: bcompass-svc
  policyTypes:
    - Ingress
  ingress:
    - from:
        - namespaceSelector:
            matchLabels:
              sbos-role: internal

      ports:
        - protocol: TCP
          port: 8080
