---
apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: roundcube-netpol
  namespace: sbos-comms
spec:
  podSelector:
    matchLabels:
      app: roundcube
  policyTypes:
    - Ingress
  ingress:
    - from:
        - namespaceSelector:
            matchLabels:
              sbos-role: internal

      ports:
        - protocol: TCP
          port: 80
